.featuredProducts{
    width: 100%;
    height: calc(100% - 72px);
    display: flex;
    flex-wrap: wrap;
}
.product{
    width: 33%;
    margin-bottom: 50px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.product div{
    width: 100%;
    max-width: 260px;
    display: flex;
    padding-bottom: 5px;
    border: 5px solid black;
    flex-direction: column;
    align-items: center;
}
.product div h3{
    width: 100%;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: center;
}
.product div p{
    width: 100%;
    border-bottom: 5px solid black;
}
.product div span{
    font-weight: 1000;
    margin-bottom: 10px;
}
.buttons{
    border: none !important;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}
.emptyProducts{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}